* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
  color: #4b0082;
  padding: 40px 30px;
}

.product-showcase {
  background-color: #c2c2c2;
  padding: 20px 50px;
  border: 2px solid #c2c2c2;
  margin: 0 20px;
}
.product-showcase h1 {
    text-align: center;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.product-card {
  border: 2px solid #a0a0a0;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 255px;   
  height: auto;       
  margin: 0 auto;    
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;        
  height: 250px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #4b0082;
}

.Price {
  font-weight: bold;
  color: #e91e63;
  margin-bottom: 8px;
}

.Rating {
  font-size: 0.9rem;
  color: #ff9800;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .container-grid {
        grid-template-columns: repeat(3, 1fr);
    
    }
}

@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .product-card {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
    .container-grid {
        grid-template-columns: 1fr;
    }
    .product-card {
        max-width: 100%;
        height: auto;
    }
}

.modal-toggle {
  display: none;
}

.modal {
  position: fixed;
  inset: 0; 
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-toggle:checked + .modal {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 12px #00000033;
}

.open-btn {
   background-color: #9000f7dd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.open-btn:hover {
   background-color: #6a00c0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.close-btn:hover {
  color: #000;
}

.cart-btn {
  background-color: #9000f7dd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.cart-btn:hover {
  background-color: #6a00c0;
}
